@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import "tailwindcss";
@import "./themes.css";


/* === BASE GLOBAL === */
@layer base {
  :root {
    --color-brand-blue: #2166b6;
    --color-brand-orange: #ff5500;
    --bg: #fefefe;
    --text: #363a3f;
    --primary: var(--color-brand-blue);
    --secondary: var(--color-brand-orange);
    --muted: #b4b6bc;
    --font-body: "Readex Pro", sans-serif;
    --font-header: "Plus Jakarta Sans", sans-serif;
  }

  html, body {
    font-family: var(--font-body);
    background-color: var(--bg);
    color: var(--text);
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

  h1, h2, h3 {
    font-family: var(--font-header);
    color: var(--primary);
  }
}

.input-bento {
  @apply bg-white/5 border border-[--muted]/30 rounded-md px-4 py-3 text-sm text-[--text]
    placeholder:text-[--muted]/60 focus:border-[--secondary]/60 focus:outline-none
    focus:ring-1 focus:ring-[--secondary]/30 transition-all duration-300;
}


/*= === animations ====*/
@layer utilities {
  .fade-slide {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;
  }
  .fade-slide.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  @keyframes gradient-slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-gradient {
    animation: gradient-slide 3s linear infinite;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
